* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
    height: auto;
    font-size: .8em;
    font-weight: 100;
    display: inline-block;
    margin: 1.8em 0 0 0;
    vertical-align: middle;
    width: auto;
}
nav  ul li {
    display: inline-block;
    float: left;
    margin: 0 1.5em 0 1.5em;
    vertical-align: middle;
}
nav  ul li a {
    color: #FFF;
}
nav  ul li a:hover {
    text-decoration: underline;
}
a {
    color: #333;
    text-decoration: none;
}
::-webkit-input-placeholder {
		color: #002C41; 
		font-family: 'Lora', serif;
		font-size: 1em
}
::-ms-input-placeholder {
		color: #002C41; 
		font-family: 'Lora', serif;
		font-size: 1em
}
::-moz-input-placeholder {
	color: #002C41; 
	font-family: 'Lora', serif;
	font-size: 1em
}
::-webkit-input-placeholder {
	color: #002C41; 
	font-family: 'Lora', serif;
	font-size: 1em
}
::placeholder {
	color: #002C41; 
	font-family: 'Lora', serif;
	font-size: 1em
}
ul li {
	list-style: none;
}
body {
    height: 100%;
	font-family: 'Biryani', sans-serif;
	font-size: 16px;
	text-align: center;
}
footer {
	background-color: #DFE3E5;
	border-top: solid 7px #002B40;
	height: auto;
	padding: 1em 0 1em 0;
	width: 100%;
}
footer .Copy {
	color: #58595B;
	font-size: 11px;
	padding: 3em 0 0 0;
}
footer .Container {
	height: auto;
	margin: auto;
	padding: 1.5em 0 0 0;
	max-width: 1200px;
	width: auto;
}
footer .Footercol-1 {
	height: auto;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
footer .Footercol-2 {
	height: auto;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
footer .Footercol-2 ul li {
	color: #58595B;
	font-size: 13px;
	line-height: 1.7em;
	text-align: left;
}
footer .Footercol-2 ul li a {
	color: #58595B;
	text-decoration: none;
}
footer .Footercol-2 ul li a:hover {
	color: #58595B;
	text-decoration: underline;
}
footer .Footercol-4 {
	height: auto;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
footer .Footercol-4 h2 {
	font-size: 14px;
}
footer .Footercol-4 ul li {
	display: inline-block;
	padding: .3em 0 0 0;
}
header {
	background-color: #002B40;
	height: auto;
	padding: 2em 0 2em 0;
	width: 100%;
}
header .Container {
	height: auto;
	overflow: hidden;
	margin: auto;
	max-width: 1200px;
	width: auto;
}
header .Logo {
	display: inline-block;
	height: auto;
	float: left;
	vertical-align: middle;
	width: auto;
}
header .Redes {
	display: inline-block;
	float: right;
	height: auto;
	margin: 1em 0 0 0;
	vertical-align: middle;
	width: auto;
}
header .Redes ul li {
	display: inline-block;
	margin: 0 .5em 0 .5em;
	vertical-align: middle;
}
header .Redes ul li a {
    color: #FFF;
    font-size: 13px;
    font-weight: 100;
}
header .Redes ul li a:hover {
    text-decoration: underline;
}
h2 {
	color: #002B40;
	font-family: 'Lora', serif;
}
h3 {
	color: #002B40;
	font-family: 'Lora', serif;
}
input {
	border: none;
	border-radius: 0px;
	border-bottom: solid 1px #002B40;
	font-style: italic;
	height: 50px;
	width: 100%;
}
.Alianza {
    height: auto;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 2em;
    max-width: 950px;
    width: 100%;
}
.Alianza a {
    background-color: #002B40;
    border-radius: 5px 5px 5px 5px;
    color: #FFF;
    font-size: .8em;
    font-weight: 100;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    padding: .3em .7em .3em .7em;
}
.Alianza .Alianza-1 {
    height: auto;
    display: inline-block;
    padding: 0 1em 0 1em;
    vertical-align: top;
    width: auto;
}
.Alianza .Alianza-2 {
    height: auto;
    display: inline-block;
    text-align: left;
    padding: 0 1em 0 1em;
    vertical-align: top;
    width: 55%;
}
.Alianza .Alianza-2 article p {
    color: #58595B;
    font-size: .9em;
    line-height: 1.7;
    margin: 1em 0 1em 0;
}
.Alianza h2 {
    border-bottom: solid 1px #002B40;
    height: auto;
    font-size: 1.2em;
    margin: 1em 0 1em 0;
    padding: 0 0 .3em 0;
    width: 100%;
}
.Descripcion {
    margin: auto;
    margin-top: .4em;
    max-width: 950px;
    width: 100%;
}
.Descripcion h2 {
    font-family: 'Lora', serif;
    font-size: 4em;
    text-align: left;
}
.Img-empresa {
    height: auto;
    margin: auto;
    margin-top: 1.7em;
    max-width: 950px;
    width: 100%;
}
.Img-empresa img {
    height: auto;
    width: 100%;
}
.wpcf7-submit {
	background-color: #002B40;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 100;
	height: 60px;
}
textarea {
	border: none;
	border-bottom: solid 1px #002B40;
	border-radius: 0px;
	max-height: 280px;
	height: 80px;
	margin: 1em 0 .5em 0;
	width: 100%;
}
.Clientes {
	height: auto;
	margin: 1em 0 2em 0;
	width: 100%;
}
.Clientes .Container {
	height: auto;
	margin: auto;
	max-width: 1200px;
	width: auto;
}
.Clientes h2 {
	border-bottom: solid 1px #002B40;
    color: #002C41;
	font-size: 19px;
    font-weight: bold;
	margin: auto;
	padding: 2em 0 .5em 0;
	width: 80%;
}
.Clientes .Col1 {
	height: auto;
	display: inline-block;
    font-size: 1em;
	margin: 2em 1em 2em 1em;
	vertical-align: top;
	width: 20%;
}
.Clientes .Col2 {
	height: auto;
	display: inline-block;
	margin: 2em 1em 2em 1em;
	vertical-align: top;
	width: 20%;
}
.Clientes .Col3 {
	height: auto;
	display: inline-block;
	margin: 2em 1em 2em 1em;
	vertical-align: top;
	width: 20%;
}
.Clientes .Col4 {
	height: auto;
	display: inline-block;
	margin: 2em 1em 2em 1em;
	vertical-align: top;
	width: 20%;
}
.Cuarenta {
	height: auto;
	background-image: url('../../assets/images/45.jpg');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	padding: 2em 0 2em 0;
	width: 100%;
}
.Cuarenta .Container {
	height: auto;
	margin: auto;
	max-width: 1200px;
	width: auto;
}
.Cuarenta .col145 {
	height: auto;
	display: inline-block;
	margin: 0 2em 0 6em;
	vertical-align: middle;
	width: auto;
}
.Cuarenta .col245 {
	height: auto;
	display: inline-block;
	margin: 0 2em 0 2em;
	vertical-align: middle;
	width: 50%;
}
.Cuarenta .col245 h2 {
    color: #002C41;
    font-family: 'Lora', serif;
    font-weight: bold;
	padding: 0 0 .5em 0;
	text-align: left;
}
.Cuarenta .col245 article p {
    color: #58595B;
    font-size: 1.2em;
	line-height: 1.4em;
	text-align: left;
}
.Firma {
	height: 480px;
	background-image: url('../../assets/images/firma.jpg');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	border-top: solid 8px #CFD0D1;
	padding: 2em 0 2em 0;
	width: 100%;
}
.Firma .Container {
	height: auto;
	margin: auto;
	max-width: 1200px;
	width: auto;
}
.Firma .FirmaCol1 {
	height: auto;
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.Firma .FirmaCol2 {
	height: auto;
	display: inline-block;
	vertical-align: top;
	width: 65%;
}
.Firma .FirmaCol2 article p {
    color: #58595B;
	line-height: 1.8em;
    margin: 2.5em 2em 0 5em;
	text-align: left;
}
.FirmaHernan {
	display: none;
}
.Franja {
	background-image: url('../../assets/images/franja-footer.jpg');
	background-position: center;
	background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	height: 100px;
	width: auto;
}
.Formulario {
	height: auto;
	margin: 1em 0 2em 0;
	width: 100%;
}
.Formulario .Container {
	height: auto;
	margin: auto;
	max-width: 1200px;
	width: auto;
}
.Formulario .Formulario-col1 {
	height: auto;
	display: inline-block;
	line-height: 4em;
	margin: .5em 2em 0 2em;
	vertical-align: top;
	width: 20%;
}
.Formulario .Formulario-col1 h2 {
	border-bottom: solid 1px #DDD;
	font-size: 50px;
	padding: .5em 0 .1em 0;
	text-align: left;
}
.Formulario .Formulario-col1 h3 {
	color: grey;
	font-style: italic;
	font-weight: 100;
	line-height: 1.7em;
	padding: .3em 0 0 0;
}
.Formulario .Formulario-col2 {
	height: auto;
	display: inline-block;
	margin: 2em 0 0 0;
	vertical-align: top;
	width: 40%;
}

.Texto-empresa {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1.5em;
    max-width: 950px;
    width: 100%;
}
.Texto-empresa .Texto-empres1 {
    color: #58595B;
    height: auto;
    font-size: 1.4em;
    font-weight: 100;
    display: inline-block;
    line-height: 1.6em;
    margin: 0 1em 0 1em;
    text-align: left;   
    vertical-align: middle;
    width: 40%;
}
.Texto-empresa .Texto-empres2 {
    color: #58595B;
    height: auto;
    font-size: .9em;
    display: inline-block;
    line-height: 1.5em;
    margin: 0 1em 0 1em;
    text-align: left;
    vertical-align: middle;
    width: 48%;
}
.Texto-despliegue {
    margin: auto;
    margin-bottom: 4em;
    margin-top: 1em;   
    max-width: 900px;
    width: 100%;
}
.Texto-despliegue p {
    color: #58595B;
    font-size: .9em;
    text-align: left;
    line-height: 1.6;
}
.Texto-hernan {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1em;
    max-width: 950px;
    overflow: hidden;
    width: 100%;
}
.Texto-hernan .Texto-hernan-imagen {
    display: inline-block;
    height: auto;
    float: left;
    vertical-align: top;
    width: 40%;
}
.Texto-hernan .Texto-hernan-texto {
    display: inline-block;
    height: auto;
    float: right;
    vertical-align: top;
    width: 50%;
}
.Texto-hernan .Texto-hernan-texto h2 {
    font-size: 1.2em;
    text-align: left;
    line-height: 1.7;
    margin: 0 0 1em 0;
}
.Texto-hernan .Texto-hernan-texto article p {
    color: #58595B;
    font-size: 1em;
    text-align: left;
    line-height: 1.8;
}
.Servicios {
    background-color: red;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1.5em;
    max-width: 950px;
    width: 100%;
}
.Servicios .Servicios1 {
    background-color: green;
    height: auto;
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    width: 40%;
}
.Servicios .Servicios1 img {
    height: auto;
    width: 100%;
}
.Servicios .Servicios2 {
    background-color: green;
    height: auto;
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    width: 40%;
}
.Servicios .Servicios2 img {
    height: auto;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    width: 100%;
}
.Separador {
    background-color: #002B40;
    height: 1px;
    margin: auto;
    max-width: 950px;
    width: 100%;
}
.Equipos {
    background-color: salmon;
    height: auto;
    margin: auto;
    margin-top: 1em;
    max-width: 950px;
    width: 100%;
}
.Equipos .Equipos1 {
    background-color: green;
    height: auto;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 40%;
}
.Equipos .Equipos2 {
    background-color: pink;
    height: auto;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 40%;
}
.Equipos .Equipos2 article p {
    margin: .5em 0 1.5em 0;
}
.Equipos .Equipos2 a {
    background-color: #002B40;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    color: #FFF;
    font-size: .8em;
    margin-top: 2em;
    padding: .5em 1em .5em 1em;
}
.Modelo-trabajo {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 3em;
    max-width: 950px;
    padding: 0 0 .5em 0;
    width: 100%;
}
.Modelo-trabajo ul li {
    color: #002B40;
    display: inline-block;
    font-size: .8em;
    line-height: 1.5;
    vertical-align: top;
    height: auto;
    margin: 4em 0 2em 0;
    width: 30%;
}
.Modelo-trabajo ul li p {
    margin: .7em 0 0 0;
}
.Modelo-trabajo h2 {
    border-bottom: solid 1px #002B40;
    font-size: 19px;
    margin-top: 2em;
    padding: 0 0 .5em 0;
}

.Clientes-proyectos {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2.5em;
    max-width: 950px;
    width: 100%;
}
.Clientes-proyectos img {
    height: auto;
    width: 100%;
}

.Clientes-proyectos-caso3 {
    background-color: red;
    height: auto;
    margin: auto;
    max-width: 950px;
    margin-bottom: 2em;
    width: 100%;
}

.Resena {
    height: auto;
    margin: auto;
    max-width: 950px;
    overflow: hidden;
    width: 100%;
}
.Resena .Resena1 {
    height: auto;
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 63%;
}
.Resena .Resena1 img {
    height: auto;
    width: 100%;
}
.Resena .Resena2 {
    height: auto;
    display: inline-block;
    float: right;
    text-align: left;
    vertical-align: top;
    width: 35%;
}
.Resena .Resena2 img {
    height: auto;
    width: 100%;
}
.Resena .Resena2 article  p {
    color: #58595B;
    font-size: .8em;
    line-height: 1.8;
    margin: .5em 0 0 0;
}

@media screen and (max-width: 768px) {
    body {
        height: auto;
    }
    footer {
        height: auto;
    }
    header .Container {
        height: auto;
        width: 90%;
    }
    .Cuarenta {
        margin: 0;
        padding: 1em 0 1em 0;
    }
    .Cuarenta .col145 {
        height: auto;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .Cuarenta .col245 {
        height: auto;
        width: 50%;
    }
    .Cuarenta .col245 h2 {
        font-size: 18px;
    }
    .Cuarenta .col245 article p {
        font-size: 13px;
    }
    .Clientes {
        margin: 0;
        padding: 3em 0 3em 0;
    }
    .Clientes .Col1 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 45%;
    }
     .Clientes .Col2 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 45%;
    }
    .Clientes .Col3 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 45%;
    }
    .Clientes .Col4 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 45%;
    }
    .Firma {
        height: auto;
        width: 100%;
    }
    .Formulario {
        height: auto;
        margin: 0;
        padding: 0;
    }
    .Formulario .Formulario-col1 {
        height: auto;
        width: 40%;
    }
    .Formulario .Formulario-col1 h2 {
        text-align: center;
    }
     .Formulario .Formulario-col2 {
        height: auto;
        width: 40%;
    }
}


@media screen and (max-width: 640px) {
    body {
        height: auto;
    }
    footer {
        height: auto;
    }
    footer .Footercol-1 {
        height: auto;
        width: 100%;
    }
    footer .Footercol-2 {
        height: auto;
        width: 100%;
    }
    footer .Footercol-2 ul li {
        font-size: 18ox;
        height: auto;
        text-align: center;
        width: 100%;
    }
    footer .Footercol-4 {
        height: auto;
        margin: 1em 0 0 0;
        width: 100%;
    }
    header .Container {
        height: auto;
        width: 90%;
    }
    .Cuarenta {
        height: auto;
        margin: 0;
        padding: 1em 0 1em 0;
        width: 100%;
    }
    .Cuarenta .col145 {
        height: auto;
        margin: 0;
        padding: 0;
    }
    .Cuarenta .col245 h2 {
        font-size: 18px;
    }
    .Cuarenta .col245 article p {
        font-size: 14px;
    }
    .Clientes {
        height: auto;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .Clientes .Col1 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: auto;
        width: 40%;
    }
    .Clientes .Col2 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: auto;
        width: 40%;
    }
    .Clientes .Col3 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: auto;
        width: 40%;
    }
    .Clientes .Col4 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: auto;
        width: 40%;
    }
    .Firma {
        height: auto;
        width: 100%;
    }
    .Firma .FirmaHernan {
        display: block;
    }
    .Formulario {
        height: auto;
    }
    .Formulario .Formulario-col1 {
        height: auto;
        width: 70%;
    }
    .Formulario .Formulario-col1 h2 {
        text-align: center;
    }
    .Formulario .Formulario-col2 {
        height: auto;
        width: auto;
    }
}


@media screen and (max-width: 480px) {
	body {
		height: auto;
	}
    footer {
        border: solid 5px #DFE3E5;
        height: auto;
        margin: 0;
        padding: 0;
        width: auto;
    }
    footer .Footercol-1 {
        height: auto;
        margin: 0 0 1em 0;
        padding: 0;
        width: 100%;
    }
    footer .Footercol-2 {
        height: auto;
        margin: 0 0 1em 0;
        padding: 0;
        width: 100%;
    }
    footer .Footercol-2 ul li {
        font-size: 16px;
        height: auto;
        margin: 0 0 1em 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    footer .Copy {
        margin: 0 0 2em 0;
    }
	.Cuarenta {
        height: auto;
        margin: 0;
        padding: 0;
        widows: auto;
	}
    .Cuarenta .col145 {
        margin: 0;
        padding: 1em 0 1em 0;
        width: auto;
    }
    .Cuarenta .col245 {
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .Cuarenta .col245 h2 {
        text-align: center;
    }
    .Cuarenta .col245 article p {
        font-size: 15px;
        margin: 0 auto;
        padding: 0 0 1.5em 0;
        text-align: justify;
        width: 95%;
    }
    .Clientes {
        margin: 0;
        padding: 0;
    }
    .Clientes h2 {
        font-size: 17px;
        height: auto;
    }
    .Clientes .Col1 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: 0;
        width: auto;
    }
    .Clientes .Col2 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: 0;
        width: auto;
    }
    .Clientes .Col3 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: 0;
        width: auto;
    }
    .Clientes .Col4 {
        height: auto;
        margin: 1em 0 1em 0;
        padding: 0;
        width: auto;
    }
    .Firma {
        height: auto;
        width: 100%;
    }
    .Firma .FirmaHernan {
        display: block;
        padding: 1em 0 1em 0;
    }
    .Firma .FirmaCol1 {
        display: none;
    }
    .Firma .FirmaCol2 {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .Firma .FirmaCol2 article p {
        text-align: justify;
        font-size: 16px;
        margin: auto;
        width: 90%;
    }
    .Formulario {
        height: auto;
        width: auto;
    }
    .Formulario .Formulario-col1 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 90%;
    }
    .Formulario .Formulario-col1 h2 {
        text-align: center;
    }
    .Formulario .Formulario-col1 h3 {
        text-align: center;
    }
    .Formulario .Formulario-col2 {
        height: auto;
        margin: 0;
        padding: 0;
        width: 90%;
    }
}
@media screen and (max-width: 375px) {
    header {
        display: block;
        text-align: center;
        margin: 0;
        padding: 1em 0 1em 0;
    }
    header .Logo {
        height: auto;
        width: 100%;
    }
    header .Redes {
        height: auto;
        width: 100%;
    }
    footer {
        border: solid 5px #DFE3E5;
    }
    footer .Copy {
        font-size: 10px;
        padding: 1em 0 1em 0;
    }
}
@media screen and (max-width: 320px) {
    footer {
        border: solid 5px #DFE3E5;
    }
    footer .Copy {
        font-size: 10px;
        padding: 1em 0 1em 0;
    }
    header {
        display: block;
        text-align: center;
        margin: 0;
        padding: 1em 0 1em 0;
    }
    header .Logo {
        height: auto;
        width: 100%;
    }
    header .Redes {
        height: auto;
        width: 100%;
    }
}
